*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  display: flex;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh,  #d2dbdc 100%);
}


/*.up{
  height: 100px;
  weight: 100%;
}*/
.down{
  height: 100vh;
  weight: 100%;
}
.page{
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  height: 600px;
  width: 1000px;
  clear: both;

}
.left{
  width: 30%;
  height: 100%;
  background-color: green;
  float: left;
}
.box{
  background-color: white;
  border: 1px solid grey;
  height:50px;
  width: 100%
}
.chat-box{
  background-color: white;
  border: 1px solid grey;
  height:70px;
  width: 100%;
}
input{
  width: 100%;
}
ul{
  list-style: none;
}
img{
  height: 47px;
  width: 47px;
  border-radius: 15px;
}
.right{
  width: 70%;
  height: 100%;
  background-color: grey;
  float: right;
  /*display: flex;*/
}
.message-box{
  height: 500px;
  /*height: calc(100% - 50px - 50px);*/
  border-radius: 5px;
  overflow-y: auto;
  background-image: url(file:///Users/francescobello/Desktop/Bello%20Francesco/vue-boolzapp/img/sfondo.jpg);
}
.mex{
  max-width: 400px;
  margin-bottom: 15px;
  padding: 10px;
}
.received{
  background-color: white;
  float: left;
  clear: both;
}
.sent{
  background-color: green;
  float: right;
  clear: both;

}
.mex{
  width: 100%;
  margin-bottom: 1px;
  height: 30px;
  border-radius: 10px;
}
footer {
  height:50px;
  background-color: white;
}
footer input{
  height: 40px;
  border-radius: 10px;
}
